blinker==1.9.0
build==1.2.2
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorclass==2.2.2
docopt==0.6.2
Flask==3.1.1
google-api-core==2.24.2
google-auth==2.38.0
google-cloud-core==2.4.3
google-cloud-datastore==2.20.2
googleapis-common-protos==1.69.2
GoogleAppEngineCloudStorageClient==1.9.22.1
grpcio==1.71.0
grpcio-status==1.71.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
pip-tools==7.4.1
pip-upgrader==1.4.15
proto-plus==1.26.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyproject_hooks==1.2.0
requests==2.32.4
rsa==4.9
six==1.17.0
terminaltables==3.1.10
tomli==2.2.1
urllib3==2.6.3
Werkzeug==3.1.4
